<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Bienvenido a Vendy</h1>
        <p>Para registrarte debes completar el siguiente formulario</p>
    </div>
</main>

<form method="post" action="/sign-in">
    <div class="form-group">
        <label for="name">Nombre
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['name'] != 'undefined') ? validation[0]['name']['msg'] : ''%></small>
        </label>
        <input type="text" 
               class="form-control" 
               name="name" 
               maxlength="60" 
               value="<%-(typeof old[0] != 'undefined') ? old[0]['name'] : ''%>">
    </div>
    <div class="form-group">
        <label for="surname">Apellido
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['surname'] != 'undefined') ? validation[0]['surname']['msg'] : ''%></small>
        </label>
        <input type="text" class="form-control" name="surname" maxlength="60" value="<%-(typeof old[0] != 'undefined') ? old[0]['surname'] : ''%>">
    </div>
    <div class="form-group">
        <label for="email">Email
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['email'] != 'undefined') ? validation[0]['email']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="email" maxlength="100" value="<%-(typeof old[0] != 'undefined') ? old[0]['email'] : ''%>">
    </div>
    <div class="form-group">
        <label for="phone">Telefono
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['phone'] != 'undefined') ? validation[0]['phone']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="phone" maxlength="13" value="<%-(typeof old[0] != 'undefined') ? old[0]['phone'] : ''%>">
    </div>
    <h5>Direccion:</h5>
    <div class="form-group">
        <label for="street">Calle
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['street'] != 'undefined') ? validation[0]['street']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="street" maxlength="60" value="<%-(typeof old[0] != 'undefined') ? old[0]['street'] : ''%>">
    </div>
    <div class="form-group">
        <label for="city">Ciudad
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['city'] != 'undefined') ? validation[0]['city']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="city" maxlength="60" value="<%-(typeof old[0] != 'undefined') ? old[0]['city'] : ''%>">
    </div>
    <div class="form-group">
        <label for="state">Estado
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['state'] != 'undefined') ? validation[0]['state']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="state" maxlength="60" value="<%-(typeof old[0] != 'undefined') ? old[0]['state'] : ''%>">
    </div>
    <div class="form-group">
        <label for="zip_code">Zip
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['zip_code'] != 'undefined') ? validation[0]['zip_code']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="zip_code" maxlength="10" value="<%-(typeof old[0] != 'undefined') ? old[0]['zip_code'] : ''%>">
    </div>
    <div class="form-group">
        <label for="car_type">Tipo de carro
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['car_type'] != 'undefined') ? validation[0]['car_type']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="car_type" maxlength="60" value="<%-(typeof old[0] != 'undefined') ? old[0]['car_type'] : ''%>">
    </div>
    <div class="form-group">
        <label for="year_car">Ano del carro
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['year_car'] != 'undefined') ? validation[0]['year_car']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="year_car" maxlength="4" value="<%-(typeof old[0] != 'undefined') ? old[0]['year_car'] : ''%>">
    </div>
    <h5>Tarjeta de credito/debito</h5>
    <div class="form-group">
        <label for="number">Numero
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['number'] != 'undefined') ? validation[0]['number']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="number" maxlength="20" value="<%-(typeof old[0] != 'undefined') ? old[0]['number'] : ''%>">
    </div>
    <div class="form-group">
        <label for="exp_date">Fecha de expiracion
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['exp_date'] != 'undefined') ? validation[0]['exp_date']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="exp_date" maxlength="4" value="<%-(typeof old[0] != 'undefined') ? old[0]['exp_date'] : ''%>">
    </div>
    <div class="form-group">
        <label for="cvv">CVV
            <small><%-(typeof validation[0] != 'undefined' && typeof validation[0]['cvv'] != 'undefined') ? validation[0]['cvv']['msg'] : ''%></small> 
        </label>
        <input type="text" class="form-control" name="cvv" maxlength="3" value="<%-(typeof old[0] != 'undefined') ? old[0]['cvv'] : ''%>">
    </div>
    <button type="submit" class="btn btn-primary">Enviar formulario</button>
</form>

<footer>
    <% include ../partials/footer %>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script>
    $(function(){

        <% if(rc == 1){ %>

            $('#success').modal();

        <% }else if(rc < 0){ %>

            $('#error').modal();

        <% } %>

    });
</script>

</body>
</html>