<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Bienvenido a Vendy</h1>
        <p>Para registrarte debes completar el siguiente formulario</p>
    </div>
</main>

<form method="post" action="/sign-in">
    <% fields.forEach(function(value) { %>
        <% if(value.type == "h5"){ %>
            <h5><%-value.title%>
                <small style="color: #dc3545"><%-(typeof validation[0] != 'undefined' && typeof validation[0][value.msg] != 'undefined') ? validation[0][value.msg]['msg'] : ''%></small>
            </h5>
        <% } else { %>
            <div class="form-group">
                <label for="<%=value.name%>"><%-value.title%>
                    <% if(value.msg != null){ %>
                        <small style="color: #dc3545"><%-(typeof validation[0] != 'undefined' && typeof validation[0][value.msg] != 'undefined') ? validation[0][value.msg]['msg'] : ''%></small>
                    <% } %>
                </label>
                <input type="text" 
                    class="form-control" 
                    name="<%=value.name%>" 
                    maxlength="<%=value.maxlength%>" 
                    value="<%-(typeof old[0] != 'undefined') ? old[0][value.name] : ''%>" 
                    placeholder="<%-value.placeholder%>">
            </div>
        <% } %>
    <% }); %>
    <button type="submit" class="btn btn-primary">Enviar formulario</button>
</form>

<footer>
    <% include ../partials/footer %>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script>
    $(function(){

        <% if(rc == 1){ %>

            $('#success').modal();

        <% }else if(rc < 0){ %>

            $('#error').modal();

        <% } %>

    });
</script>

</body>
</html>